{% extends 'base.html.twig' %}

{% block content %}
    <input type="hidden" class="firstmonth" value="{{ implant.FirstMonth }}">
    <input type="hidden" class="lastmonth" value="{{ implant.LastMonth }}">
    <input type="hidden" class="year" value="{{ implant.Year }}">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong> LIST Implant </strong>

                             <span style="float:right;">{{ implant.ListSize }} Implant</span>

                </div>

                <input type="hidden" id="hospitalId" value="{{ implant.HospitalId }}">
                <input type="hidden" id="searchkey" value="{{ implant.SearchKey }}">
                <!-- /.panel-heading -->
                <div class="panel-body" style="overflow-x: scroll;">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row custom-row">
                            <div class="col-sm-2">
                                <div class="dataTables_length" id="dataTables-example_length">

                                        <select name="dataTables-example_length" id="limit" aria-controls="dataTables-example"
                                                class="custom-select form-control input-sm">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                        </select>

                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="dataTables_length" id="dataTables-example_length">

                                        <select name="dataTables-example_length" aria-controls="dataTables-example"
                                                class="custom-select-hospital form-control input-sm">
                                            <option value="null">Hospital</option>
                                            {% for hospital  in hospitals %}

                                            <option value="{{ hospital.ID }}"{% if implant.HospitalId == hospital.ID %} selected {% endif %}>{{ hospital.NameOfHosp }}</option>
                                            {% endfor %}
                                        </select>
                                </div>
                            </div>

                            <div class="col-sm-2">

                                    <form id="custom-search-form" class="form-search form-horizontal pull-right">
                                        <div class="input-group" id="custom-search-form">
                                            {% if implant.SearchKey is not null and implant.SearchKey is not empty and implant.SearchKey != "search" %}
                                                <button style="float: left; margin-right: 10px" type="button close"  aria-label="Close" class="btn btn-default">{{ implant.SearchKey }} <i
                                                            class="fa fa-remove"></i></button>
                                            {% endif %}
                                            <input type="text" class="form-control search-inp" value="search" placeholder="Search">
                                            <span class="input-group-btn">
                                                <button class="btn searchButton btn-default" type="button"><i
                                                            class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </form>

                            </div>


                            <div class="col-sm-1">
                                <div class="dataTables_length" id="dataTables-example_length">

                                    <select name="dataTables-example_length" id="firstmonth" aria-controls="dataTables-example"
                                            class="form-control input-sm">
                                        <option value="0">First Month</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="dataTables_length" id="dataTables-example_length">

                                    <select name="dataTables-example_length" id="lastmonth" aria-controls="dataTables-example"
                                            class="form-control input-sm">
                                        <option value="0">Last Month</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="dataTables_length" id="dataTables-example_length">

                                    <select name="dataTables-example_length" id="year" aria-controls="dataTables-example"
                                            class="form-control input-sm">
                                        <option value="0">Year</option>
                                        <option value="2010">2010</option>
                                        <option value="2011">2011</option>
                                        <option value="2012">2012</option>
                                        <option value="2013">2013</option>
                                        <option value="2014">2014</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="dataTables_length" id="dataTables-example_length">

                                 <button id="date-filter">Filter</button>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="dataTables-example"  class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Edit</th>
                                        <th>Implant Number</th>
                                        <th>Implant Date</th>
                                        <th>Implant Center</th>
                                        <th>City</th>
                                        <th>Patient ID</th>
                                        <th>Patient Name </th>
                                        <th>HVADPumpID </th>
                                        <th>Quantity</th>
                                        <th>Patient Address</th>
                                        <th>Patient Call Numbers</th>
                                        <th>Status Date</th>
                                        <th>Stayed on device (days) </th>
                                        <th>Status</th>
                                    </thead>
                                    <tbody>
                                    {% for implant  in implant.Content %}

                                        <tr>
                                            <td>     <button type="button"
                                                             onclick="location.href='{{ url("patient_edit",{ 'id' :implant.PatientID }) }}';"
                                                             class="edit btn btn-primary glyphicon glyphicon-pencil"></button> </td>
                                            <td>{{ implant.ID }}</td>
                                            <td>{{ implant.ImplantDate }}</td>
                                            <td>{{ implant.HospitalCenter }}</td>
                                            <td>{{ implant.HospitalCenter }}</td>
                                            <td>{{ implant.PatientID }}</td>
                                            <td>{{ implant.FirstnameOfPat }}</td>
                                            <td>{{ implant.HVADPumpID }}</td>
                                            <td>{{ implant.Qty }}</td>
                                            <td>{{ implant.AdressOfPat }}</td>
                                            <td>
                                                {% for phone  in implant.PhoneNumbers %}


                                                {% if loop.last %}
                                                    {{ phone.PhoneNumber }}
                                                {% else %}
                                                    {{ phone.PhoneNumber }} -
                                                {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>{{ implant.StatusDate }}</td>
                                            <td>{{ implant.StayDurationOfDev }}</td>
                                            <td>{{ implant.PatientStatus }}</td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.table-responsive -->
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                <ul class="pagination">
                                    {% for i in 1..(implant.ListSize / implant.Limit)|round(0, 'ceil') %}
                                    <li data-id="{{ i }}" class="paginate_button" aria-controls="dataTables-example"
                                        tabindex="0">
                                        {% if implant.SearchKey is not null %}
                                            <a href="{{ url("patient_list",{'firstmonth' : implant.FirstMonth  ,'lastmonth' :implant.LastMonth ,'year' :implant.Year , 'page' :i-1 , 'limit':implant.Limit , 'searchKey':implant.SearchKey, 'hospitalId' : implant.HospitalId }) }}">{{ i }} </a></li>
                                        {% else %}
                                            <a href="{{ url("patient_list",{'firstmonth' : implant.FirstMonth ,'lastmonth' :implant.LastMonth ,'year' :implant.Year ,'page' :i-1 , 'limit':implant.Limit , 'hospitalId' : implant.HospitalId }) }}">{{ i }} </a></li>
                                        {% endif %}


                                    {% endfor %}



                                </ul>



                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }


        var page = getParameterByName('page');
        var limit = getParameterByName('limit');

        $(document).ready(function () {
            lastMonthVal = $('.lastmonth').val();
            firstMonthVal = $('.firstmonth').val();
            yearVal = $('.year').val();

            $("#firstmonth option[value='"+firstMonthVal+"']" ).prop('selected',true);
            $("#lastmonth option[value='"+lastMonthVal+"']" ).prop('selected',true);
            $("#year option[value='"+yearVal+"']" ).prop('selected',true);



            var searchKey = $(".search-inp").val();
            var hospitalId = $('.custom-select-hospital').val();
           // var limit = $('#limit').val();


            if(page == 0 || page == null){
                $( ".paginate_button[data-id='1']" ).addClass('active');
            }else{
                var pageNum = (page*1)+1
                $( ".paginate_button[data-id='"+pageNum+"']" ).addClass('active');
            }

            if(limit != null){
                $(".custom-select option[value='"+limit+"']" ).prop('selected',true);
            }
            $('.custom-select').on('change', function() {
                searchKey =  $(".search-inp").val();
                hospitalId = $('.custom-select-hospital').val();
                    window.location.href = "?limit="+this.value+"&searchKey="+searchKey+"&hospitalId="+hospitalId;
            })
            $('.custom-select-hospital').on('change', function() {
                searchKey =  $(".search-inp").val();
                hospitalId = $('.custom-select-hospital').val();
                limit = $('#limit').val();
                window.location.href = "?limit="+limit+"&searchKey="+searchKey+"&hospitalId="+hospitalId;
            })
            var searchEvent = function () {
                var search = $(".search-inp").val();
                window.location.href = "?searchKey="+search;
            }

            $(".search-inp").keypress(function() {
                if (event.which == 13) searchEvent();
            });
            $('.searchButton').click(searchEvent);


            $('#date-filter').on('click', function() {
                firstMonth =  $("#firstmonth").val();
                lastMonth =  $("#lastmonth").val();
                year =  $("#year").val();
                window.location.href = "/patient/list/"+firstMonth+"/"+lastMonth+"/"+year;
            })



            var set = $(".pagination li");
            var length = set.length;
            $(".pagination li").each(function (i) {
                $(".pagination li[data-id=1] ").css({"display":"block", "margin-right":"5px"});
                var dataId;
                var className = $(this).attr('class');
                if(className == "paginate_button active"){
                    $(this).css("display","block");
                    dataId = $(this).data("id");
                }
                $(".pagination li[data-id="+((dataId*1)+1)+"] ").show();
                $(".pagination li[data-id="+((dataId*1)+2)+"] ").show();
                $(".pagination li[data-id="+((dataId*1)+3)+"] ").show();
                $(".pagination li[data-id="+((dataId*1)+4)+"] ").show();
                $(".pagination li[data-id="+((dataId*1)+5)+"] ").show();

                $(".pagination li[data-id="+((dataId*1)-1)+"] ").show();
                $(".pagination li[data-id="+((dataId*1)-2)+"] ").show();
                $(".pagination li[data-id="+((dataId*1)-3)+"] ").show();
                $(".pagination li[data-id="+((dataId*1)-4)+"] ").show();
                $(".pagination li[data-id="+((dataId*1)-5)+"] ").show();

                if(i === (length -1)){
                    $(this).css({"display":"block", "margin-left":"5px"});
                }




            })

        });


    </script>
{% endblock %}