{% extends 'base.html.twig' %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong> Implant Report <span style="color: red">({{ year }})</span> </strong>

                        <div style="float: right" class="col-lg-2">
                            <div class="dataTables_length" id="dataTables-example_length">

                                <select name="dataTables-example_length" id="year" aria-controls="dataTables-example"
                                        class="form-control input-sm">
                                    <option value="0">Year</option>
                                    <option value="2010" {% if year == 2010 %}selected{% endif %}>2010</option>
                                    <option value="2011"{% if year == 2011 %}selected{% endif %}>2011</option>
                                    <option value="2012"{% if year == 2012 %}selected{% endif %}>2012</option>
                                    <option value="2013"{% if year == 2013 %}selected{% endif %}>2013</option>
                                    <option value="2014"{% if year == 2014 %}selected{% endif %}>2014</option>
                                    <option value="2015"{% if year == 2015 %}selected{% endif %}>2015</option>
                                    <option value="2016"{% if year == 2016 %}selected{% endif %}>2016</option>
                                    <option value="2017"{% if year == 2017 %}selected{% endif %}>2017</option>
                                    <option value="2018"{% if year == 2018 %}selected{% endif %}>2018</option>
                                </select>

                            </div>

                    </div>
                </div>
                {% set break = false %}
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <table class="table-condensed table-bordered table-striped" style="margin: 0 auto">
                                <thead>
                                <tr>
                                    <th>Hastane</th>
                                    <th>Ocak</th>
                                    <th>Şubat</th>
                                    <th>Mart</th>
                                    <th>Nisan</th>
                                    <th>Mayıs</th>
                                    <th>Haziran</th>
                                    <th>Temmuz</th>
                                    <th>Ağustos</th>
                                    <th>Eylül</th>
                                    <th>Ekim</th>
                                    <th class="col-md-1">Kasım</th>
                                    <th class="col-md-1">Aralık</th>
                                    <th class="col-md-1">Toplam</th>
                                </tr>
                                </thead>
                                <tbody>
                                 {% for hospital in hospitals %}
                                <tr class="tableMonth">
                                    <td>{{ hospital.HospitalName }}</td>

                                    {% for i in 1..12 %}

                                        <td data-month="{{ i }}" data-id="{{ hospital.HospitalId }}"> {% if getMonthReportCompetitor(i,hospital.HospitalId,year) != false  %}{{  getMonthReportCompetitor(i,hospital.HospitalId,year).Count }} {% endif %} </td>
                                    {% endfor %}
                                    <td style="color: red; text-align: right">{{ hospital.Count }}</td>
                                </tr>
                                {% endfor %}

                                 <tr>
                                     <td>Toplam</td>

                                     {% for i in 1..12 %}

                                         <td style="color: red" data-month="{{ i }}"> {% if getTotalCountCompetitor(year,i) != false  %}{{  getTotalCountCompetitor(year,i).Count }} {% endif %} </td>
                                     {% endfor %}
                                     <td style="background-color: black; color: #fff; text-align: right">{{ totalCount }}</td>
                                 </tr>



                                </td>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-12 -->
    </div>
{% endblock %}


{% block javascripts %}
<script>
    $('#year').on('change', function() {

    year =  $("#year").val();
    window.location.href = "/report/"+year;
    })
</script>

{% endblock %}












